/* Backup of login.scss */
/* Original content of login.scss */
/* This file is being backed up before deletion of the original folder */
/* Add your styles below */
body {
	background-color: #f0f0f0;
	color: #333;
}
/* Additional styles... */
